<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Proyecto Libros{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <div class="navbar">
        {% if request.session.usuario_id %}
            <a href="{% url 'pagina_principal' %}">Inicio</a>
            <a href="{% url 'mis_libros' %}">Mis Libros</a>
            <a href="{% url 'crear_libro' %}">Escribir</a>
            <a href="{% url 'logout' %}">Cerrar Sesión</a>
        {% else %}
            <a href="{% url 'login' %}">Iniciar Sesión</a>
            <a href="{% url 'registro' %}">Registrarse</a>
        {% endif %}
        <a href="/admin/">Administración</a> 
    </div>

    <div class="container">
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>