{% extends "base.html" %}

{% block title %}Inicio{% endblock %}

{% block content %}

<div>
    <h1>Bienvenido, {{usuario_username}}</h1>
    <p>Has iniciado sesión correctamente</p>

    <div>
        <h3>Menú Principal</h3>

        <div>
            <h4>Escribir algo</h4>
            <p>Crea una nueva historia</p>
            <button>Proximamente</button>
        </div>
        <div>
            <h4>Mis Libros</h4>
            <p>Ver mis historias</p>
            <button>Proximamente</button>
        </div>
        <div>
            <h4>Buscar un libro</h4>
            <p>Descubre libros de otros autores</p>
            <button>Proximamente</button>
        </div>
    </div>

    <div>
        <a href="{% url 'logout' %}" class="btn">Cerrar Sesión</a>
    </div>

</div>

{% endblock %}